.product-card {
    transform: scale();
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    overflow: hidden;
    background: none;
    font-size: 14px;
    color: #000;
    /* border: grey solid 2px; */
    padding: 1%;
    width: 35vh;
    height: 60vh;
  }